.home {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* margin: 30px 30px; */
  /* position: relative; */
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
