.header {
  position: fixed;
  top: 0;
  /* left: 0;
  bottom: 0; */
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px;
  color: white;
  z-index: 1;
}

.logo {
  font-size: 1.5em;
}
